[project]
	description = AVR-based event logger with USB support
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vladimir Stankovic (vladast)
[access "refs/for/refs/*"]
	read = group user/Vladimir Stankovic (vladast)
	push = group user/Vladimir Stankovic (vladast)
	label-Code-Review = -2..+2 group user/Vladimir Stankovic (vladast)
	label-Verified = -1..+1 group user/Vladimir Stankovic (vladast)
	rebase = group user/Vladimir Stankovic (vladast)
	removeReviewer = group user/Vladimir Stankovic (vladast)
	submit = group user/Vladimir Stankovic (vladast)
[access "refs/heads/*"]
	read = group user/Vladimir Stankovic (vladast)
	create = group user/Vladimir Stankovic (vladast)
	push = +force group user/Vladimir Stankovic (vladast)
	pushMerge = group user/Vladimir Stankovic (vladast)
[access "refs/tags/*"]
	push = +force group user/Vladimir Stankovic (vladast)
	pushTag = group user/Vladimir Stankovic (vladast)
	pushSignedTag = group user/Vladimir Stankovic (vladast)
